#define SECRET_SSID "Wifi SSID"
#define SECRET_PASS "Wifi Password"
#define SECRET_LED_IP "192.168.201.168"
#define SECRET_HOSTNAME "COVID01"
#define SECRET_BAROMETERAltitude_m 420  //estimate if BMP280 not present
#define SECRET_REPORT "C"       // A=All | T=temperature | H=humidity | C = CO2
#define SECRET_REPORT_TXT "N"   // A=All | T=temperature | H=humidity | C=CO2 | N=None
#define DEBUG "True"            // Serial Verbose debug info
#define LAN_only "False"        // Access to Config part of Web page
#define SECRET_SD_LOG_ENABLE true
#define SECRET_SD_LOG_PERIOD_SEC 60
#define SECRET_SD_LOG_ROTATION "DAY"   // "DAY", "MONTH", or "OFF"
#define SECRET_SCREENSAVE_TIME_MINUTES 5